.zapfen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto [test] 1fr;
  flex-direction: column;
  justify-content: center;
  /* background-color: #242424; */
}

.input {
  border-radius: 50px 50px 0 0;
  margin: auto;
  padding: 3rem 0;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f0d1351;
  background: radial-gradient(circle at bottom right, #2d0d1f 0%, #191628 100%);
  max-width: 1000px;
  width: 100vw;
}

.scroll {
  overflow-x: scroll;
  text-align: right;
  margin: auto;
  width: min(1000px, 100vw);
  background-color: #242424;
  direction: rtl;
  grid-column-start: [test];
  background: linear-gradient(0deg, #0f0d13 80%, #170c17 100%);
}

.number {
  width: min(500px, 30%);
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
}

.slider {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  width: min(500px, 31%);
  align-items: center;
  justify-content: center;
}

.slider-bar {
  width: 100%;
  margin-right: 0.5rem;
}

.slider-number {
  width: 4rem;
  text-align: right;
  font-size: 1.2rem;
  border: none;
  height: 2rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
}

ul {
  display: inline-block;
  text-align: end;
  direction: ltr;
}

li {
  list-style: none;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.2rem 0;
}

li .symbol {
  height: 100%;
  line-height: 1.9rem;
  font-size: 1rem;
  width: 1rem;
  text-align: center;
  padding: 0 0.5rem;
}

li .index {
  width: 3rem;
  text-align: left;
}

.cell {
  width: 1.2rem;
}

.cell .value {
  text-align: center;
  height: 1.8rem;
}

.cell .smallNumber.multiply {
  font-size: 0.8rem;
  transform: translate(-3px, -46px);
}

.cell .smallNumber.divide {
  transform: translate(17px, -46px);
  text-align: left;
}

.cell .smallNumber {
  color: rgb(182, 182, 182);
  font-size: 0.8rem;
  text-align: left;
  width: 0;
  height: 0;
}

li > div {
  flex-shrink: 0;
}

li {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}
