#root {
  background-color: #5c5c5c;

  margin: 5rem auto;
  width: min(100%, 1000px);
}

.zapfen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  flex-direction: column;
  justify-content: center;
}

.input {
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  width: min(500px, 30%);
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.slider {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  width: min(500px, 31%);
  align-items: center;
  justify-content: center;
}

.slider input {
  width: 100%;
  margin-right: 0.5rem;
}

ul {
  padding: 1rem 0rem 1rem 1rem;
  margin: auto;
}

li {
  list-style: none;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.2rem 0;
}

li .value {
  width: auto;
  text-align: right;
}

li .symbol {
  height: 100%;
  line-height: 1.9rem;
  font-size: 1rem;
  width: 1rem;
  text-align: center;
  padding: 0 0.5rem;
}

li .index {
  width: 3rem;
  text-align: left;
}

.cell {
  padding: 0 0.2rem;
  width: 1rem;
}

.cell .value {
  width: 1rem;
}

.cell .smallNumber {
  font-size: 0.8rem;
  transform: translate(-3px, -48px);
  text-align: left;
  height: 0;
}
